.openModelButtonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.lessonsTable {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  min-width: 870px;
}

.lessonsHeader {
  display: flex;
  height: 50px;
  width: 100%;
}

.lessonsHeader th {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.noItemsTextBlock {
  display: flex;
  justify-content: center;
}
